

body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}



h1 {
	font-size: 45pt;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 10px;
	color: red;
}

h2 {
	font-size: 45pt;
	text-align: left;
	margin-left: 50px;
	margin-bottom: 5px;
	margin-top: 8px;
	color: red;
}

h3 {
	font-size: 12pt;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 100px;
}
h4 {
	text-align: center;
	margin-bottom: 2px;
	margin-top: 15px;
}




