<div class="container">
<div class="row">

 <div class="page col-sm-12 ifBottomNavbar" ng-if="forceSidenav">
   <!-- only displayed on "welcome" if small devices -->
   <div ng-include="getTemplateUrl('breadcrumb-inc.html')"></div>
   <div ng-include="getTemplateUrl('welcome-inc.html')"></div>
 </div>

 <div class="col-md-3 sidenavDiv">
  <ul class="sidenav nav nav-stacked" ng-class="{ifSideNavbar: !forceSidenav}">
	<li ng-repeat="tab in mainVisibleTabs" ng-class="{active: tab == currentMainTab}">
	   <a href="#{{tab.route}}">
	     <span class="glyphicon glyphicon-chevron-right"></span>
	     {{tab.mainText}}
	   </a>
	</li>
  </ul>
 </div>

 <div class="page col-md-9">

   <div ng-include="getTemplateUrl('breadcrumb-inc.html')"
	ng-class="{ifSideNavbar: forceSidenav}"></div>

   <div class="content" ng-class="{loadInProgress: loadInProgress}" ng-view></div>
   
 </div>
</div>
</div>
