<div class="normalContent">

Bienvenue dans esup-smsu.
<p>
Veuillez utiliser la barre de navigation 
<span class="ifSideNavbar">ci-contre</span><span class="ifBottomNavbar">ci-dessous</span>.

 <div ng-if="!impersonatedUser && loggedUser.can.FCTN_GESTION_ROLES_AFFECT">
   Impersonate

   <div my-autocomplete="user" ng-model="wip.impersonate" class="form-control"
	  do-search="searchUser($viewValue)" 
	  on-select="impersonate(wip.impersonate.id)"
	></div>

 </div>

 <div ng-if="impersonatedUser">
   <a ng-click="impersonate()">Un-Impersonate from {{impersonatedUser}}</a>
 </div>

</div>
