<div class="normalContent">

Bienvenue dans esup-smsu.
<p>
Veuillez utiliser la barre de navigation 
<span class="ifSideNavbar">ci-contre</span><span class="ifBottomNavbar">ci-dessous</span>.

 <div ng-if="!impersonatedUser && loggedUser.can.FCTN_GESTION_ROLES_AFFECT">
   Impersonate

   <input type="text" ng-model="wip.impersonate" class="form-control"
	  typeahead="e.id as e.name for e in searchUser($viewValue)" 
	  typeahead-on-select="impersonate(wip.impersonate)"
	  >

   <a ng-click="impersonate('sender1')">impersonate sender1</a>
   <a ng-click="impersonate('sender2')">impersonate sender2</a>
   <a ng-click="impersonate('user1')">impersonate user1</a>

 </div>

 <div ng-if="impersonatedUser">
   <a ng-click="impersonate()">Un-Impersonate from {{impersonatedUser}}</a>
 </div>

</div>
