<?xml version="1.0"?>

<web-app metadata-complete="true">
	<!-- disable "servlet api 3.0 classpath scanning" otherwise dead slow startup -->
	<!-- metadata-complete="true" above is also needed -->
	<!-- http://jira.codehaus.org/browse/JETTY-1503 -->
	<absolute-ordering />

	<display-name>esup-smsu</display-name>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:properties/logging/log4j.properties</param-value>
	</context-param>

	<context-param>
        <!-- since we do not use ${webapp.root} we can set this to false -->
        <!-- (without this, you must set webAppRootKey to a unique name) -->
        <param-name>log4jExposeWebAppRoot</param-name>
        <param-value>false</param-value>
	</context-param>
	

	<context-param>
		<description>
			The location of the main configuration file of the Spring framework.
		</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/properties/applicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<listener>
	  <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<session-config>
	  <tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<filter>
	  <filter-name>CrossOriginFilter</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>CrossOriginFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
	  <filter-name>CAS Single Sign Out Filter</filter-name>
	  <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter>
	  <filter-name>CASAuthenticationFilter</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
	  <filter-name>CASValidationFilter</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
	  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	  <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>CAS Single Sign Out Filter</filter-name>
	  <url-pattern>/rest/login</url-pattern>
	</filter-mapping>
        <filter-mapping>
	  <filter-name>CASAuthenticationFilter</filter-name>
	  <url-pattern>/rest/login</url-pattern>
        </filter-mapping>
        <filter-mapping>
	  <filter-name>CASValidationFilter</filter-name>
	  <url-pattern>/rest/login</url-pattern>
        </filter-mapping>
        <filter-mapping>
	  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	  <url-pattern>/rest/*</url-pattern>
        </filter-mapping>

	<filter>
	  <filter-name>CsrfPrevention</filter-name>
	  <filter-class>org.esupportail.smsu.web.CsrfPreventionFilterHttpHeader</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>CsrfPrevention</filter-name>
	  <url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<filter>
	  <filter-name>OneHibernateSessionPerRequest</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>OneHibernateSessionPerRequest</filter-name>
	  <url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>OneHibernateSessionPerRequest</filter-name>
	  <url-pattern>/ws/*</url-pattern>
	</filter-mapping>
	
	<filter>
	  <filter-name>AuthAndRoleAndMiscFilter</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>AuthAndRoleAndMiscFilter</filter-name>
	  <url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<servlet>
	  <servlet-name>rest-serlvet</servlet-name>
      	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/properties/web/controllers-rest.xml</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>rest-serlvet</servlet-name>
	  <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>rest-serlvet-ws</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <init-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:/properties/web/controllers-ws.xml</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>rest-serlvet-ws</servlet-name>
	  <url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

	<servlet>
	  <servlet-name>StartPage</servlet-name>
	  <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	<!-- instead of using <url-pattern></url-pattern> which requires tomcat7 (JSR 315 - servlet 3) -->
	<!-- set welcome-file-list -->
	<welcome-file-list>
	   <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
	  <servlet-name>StartPage</servlet-name>
	  <url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>StartPage</servlet-name>
	  <url-pattern>/WebWidget.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>StartPage</servlet-name>
	  <url-pattern>/WebWidget</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>StartPage</servlet-name>
	  <url-pattern>/GenTestStaticJsonPage</url-pattern>
	</servlet-mapping>

    <!--servlet>
        <servlet-name>esup-smsu</servlet-name>
        <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-name</param-name>
            <param-value>esup-smsu</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>esup-smsu</servlet-name>
        <url-pattern>/PlutoInvoker/esup-smsu</url-pattern>
    </servlet-mapping-->
	
</web-app>
