<?xml version="1.0"?>

	<!--
		/webapp/WEB-INF/web.xml The main configuration file of the application
		for servlet installations.
	-->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>esup-smsu</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>esup-smsu</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>

	<context-param>
		<description>
			The location of the main configuration file of the Spring framework.
		</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/properties/applicationContext.xml
		</param-value>
	</context-param>

	<context-param>
		<description>
			The logout URL of the CAS server.
		</description>
		<param-name>edu.yale.its.tp.cas.client.logoutUrl</param-name>
		<param-value>
			${cas.url}/logout?service=%s
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			org.esupportail.smsu.business.context.SmsuServletContextListener
		</listener-class>
	</listener>

<!--BEGIN-SERVLET-ONLY-->

	<filter>
		<description>
			The CAS filter, used to authenticate users.
		</description>
		<display-name>CASFilter</display-name>
		<filter-name>CAS Filter</filter-name>
		<filter-class>
			edu.yale.its.tp.cas.client.filter.CASFilter
		</filter-class>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.loginUrl
			</param-name>
			<param-value>
				${cas.url}/login
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.validateUrl
			</param-name>
			<param-value>
				${cas.url}/serviceValidate
			</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.serverName
			</param-name>
			<param-value>${tomcat.host}${tomcat.port.string}</param-value>
		</init-param>
		<init-param>
			<param-name>
				edu.yale.its.tp.cas.client.filter.wrapRequest
			</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

<!--END-SERVLET-ONLY-->

<!--BEGIN-PORTLET-ONLY-->

	<servlet> 
		<servlet-name>esup-smsu</servlet-name>
		<servlet-class>
			org.apache.pluto.core.PortletServlet
		</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>
				org.apache.portals.bridges.portletfilter.FilterPortlet
			</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-name</param-name>
			<param-value>esup-smsu</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>esup-smsu.esup-smsu</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>esup-smsu</servlet-name>
		<url-pattern>/esup-smsu/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>esup-smsu</servlet-name>
		<url-pattern>/PlutoInvoker/esup-smsu</url-pattern>
	</servlet-mapping>

<!--END-PORTLET-ONLY-->

	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.DownloadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	
	<!--BEGIN TEST SERVLET-->
	<!-- 
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>
			org.esupportail.smsu.services.servlet.TestServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/testServlet</url-pattern>
	</servlet-mapping>
	 -->
	<!--END TEST SERVLET-->

</web-app>
